// VERSÃO RESPONSIVA PARA TELAS ATÉ 1024px

// Largura landscape do iPad 4
body{
	min-width: 0;
	width: auto;
}

#pagina-container{
	margin: 0;
	width: 100%;
}
	
#conteudo{
	margin: auto;
	width: @width;
}