@charset 'utf-8';
@import 'base';

// FONTES
@titulo: @corpo;
@corpo: 'Arial', sans-serif;;

@width: 1000px;
@raio: 10px;

// MIXINS ESPECÍFICOS


// LAYOUT


// IMPORT RESPONSIVE 320p - smartphone

// IMPORT RESPONSIVE - iPad Landscape

// IMPORT RESPONSIVE - iPad Portrait