@charset 'utf-8';
@import 'base';
@import 'font-awesome';

// FONTES
@titulo: @corpo;
@corpo: 'Arial', sans-serif;;

@width: 990px;
@raio: 10px;

// MIXINS ESPECÍFICOS
.gradiente-verde{
	#gradient .vertical(@verde-claro-2, @verde-claro);
}

// LAYOUT
body{
	background: @branco;
}

#pagina-container{
	margin: 20px auto;
	width: @width;
}

#topo{
	.box-sizing(border-box);
	background: @background;
	height: 80px;
	padding: 17px;

	a{
		color: @branco;
	}

	.logo{
		background: url(../images/logo.png) no-repeat left center;
		display: block;
		float: left;
		font-weight: bold;
		font-size: 36px;		
		line-height: 45px;
		padding-left: 55px;
		width: 115px;
		height: 45px;
	}
	nav{
		float: right;
		margin-top: 17px;

		li{
			display: inline;
			padding: 0 20px;
		}
		li+li{ // não coloca a borda no primeiro item da lista
			border-left: 1px solid @branco;
		}
		a{
			font-size: 18px;
			text-decoration: underline;
		}
	}
}
#busca{
	float: left;
	margin-left: 25px;
	position: relative;

	input{
		.redondo;
		.box-sizing(border-box);
		background: @branco;
		border: 1px solid @preto;
		font-size: 12px;
		font-weight: bold;
		height: 45px;
		padding-left: 25px;
		width: 310px;
	}
	// o texto "busca" e o botão para envio estão ocultos
	label{
		.hide-text;
		position: absolute;
		top: 24px;
		left: 6px;

		&::before{
			.fa;
			color: @texto;
			content: @fa-var-search;
			font-size: 18px;
		}
	}
	button{
		display: none;
	}
}

#conteudo{

	// define a cor para as letras do título
	// estas classes de cor podem ser usadas para estilizar também outros elementos
	.cor-arranjos{
		color: @azul;
	}
	.cor-desenvolvimento{
		color: @rosa;
	}
	.cor-educacao{
		color: @cinza;
	}
	.ade{
		font-weight: bold;
		font-size: 36px;
		letter-spacing: -6px;
		margin-bottom: 50px;
		text-align: center;

		&::before, &::after{
			border-top: 1px dashed @cinza-claro-2;
			content: '';
			display: inline-block;
			margin: 0 10px;
			vertical-align: middle;
			width: 435px;
			height: 0px;
		}
	}

	// os botões "call to action" da página possuem o mesmo estilo base, só diferem no tamanho (este é definido para cada um, mais abaixo)
	.botao{
		.box-shadow(0 0 3px fade(@preto, 50));
		.gradiente-verde;
		.redondo(4px);
		color: @branco;
		font-size: 16px;
		font-weight: bold;
		display: block;
		line-height: 40px;
		text-align: center;
	}

	// alguns links possuem um '>' na frente, tratado com classe
	.link-seta{
		&::before{
			content: '> ';
		}
	}

	header{
		margin: 0 auto 50px;
		text-align: center;
		width: 470px;
	}
	h2{
		font-size: 36px;
	}
	h3{
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 5px;
	}
	a{
		font-size: 11px;
	}
	.texto{
		p{
			//font-size: 14px;
			line-height: 1.2em;
		}
		
		p+p{
			margin-top: 15px;
		}
	}
}
#apresentacao{
	margin: 40px auto !important;
	width: 755px !important;

	h1{
		font-size: 36px;
		margin-bottom: 40px;
		text-align: center;

		span{
			font-weight: bold;
		}
	}
	.resumo{
		color: @highlight;
		font-size: 22px;
		text-align: justify;
	}
}

#features-container{
	.clearfix;
	margin-bottom: 80px;

	section{
		width: 460px;
	}
	#caracteristicas{
		float: left;
	}
	#beneficios{
		float: right;
	}
}

// a lista é definida apenas uma vez. os ícones de cada lista diferente são tratados em outras classes
.lista-descricao{
	font-size: 11px;
	margin: 45px 0;

	.titulo{
		font-size: 18px;
	}
	li{
		padding-left: 45px;
		position: relative;

		// configura tamanho e posição do marcador, abaixo são definidos os ícones
		&::before{
			.fa; // esta classe define a FontFamily para o marcador
			font-size: 30px;
			position: absolute;
			top: 2px;
			left: 7px;
		}
	}
	li+li{
		margin-top: 25px;
	}
	a{
		#conteudo .link-seta; // coloca a "flecha" antes das palavras
	}

	&.caracteristicas{
		li::before{
			color: @azul;
			content: @fa-var-check;
		}
	}
	&.beneficios{
		li::before{
			color: @rosa;
			content: @fa-var-star;
		}
	}
}

#fundamentos{
	.clearfix; // para corrigir um problema de altura e floats

	.chamada{
		color: @highlight;
		font-weight: bold;
		font-size: 12px;
	}

	#livro{
		float: left;
		width: 175px;
		
		.descricao{
			font-size: 12px;
			font-style: italic;
			margin: 30px 0 25px;
		}
		.botao{
			margin-top: 45px;
			width: 100%;
		}
	}
	.coluna-texto{
		float: right;
		margin-left: 85px;
		width: 710px;
	}

}

// a lista é definida apenas uma vez. os ícones de cada lista diferente são tratados em outras classes
.lista-fundamentos{
	margin: 30px auto 60px;

	li{
		float: left;
		font-size: 12px;
		padding-left: 30px;
		position: relative;
		width: 195px;

		// configura tamanho e posição do marcador, abaixo são definidos os ícones
		&::before{
			.fa; // esta classe define a FontFamily para o marcador
			font-size: 20px;
			position: absolute;
			top: 2px;
			left: 4px;
		}
	}
	li+li{
		margin-left: 15px; // não coloca margem no primeiro item da lista
	}
	p+p{
		margin: 0 !important;
	}
	.titulo{
		font-weight: bold;
	}
	&.colaboracao{
		li::before{
			color: @laranja;
			content: @fa-var-exclamation-triangle;
		}
	}
	&.associativismo{
		li::before{
			color: @verde;
			content: @fa-var-check-circle;
		}
	}
}

#homologacao{
	.apresentacao{
		font-size: 18px;
		margin-bottom: 30px;
	}

	.coluna-texto{
		float: left;
		width: 630px;
	}
}
#resolucao{
	float: right;

	.botao{
		margin: 45px 0 0 75px;
		width: 245px;
	}
}
.lista-resolucao{
	border-left: 15px solid @basecolor;
	margin: 30px 0;
	padding-left: 15px;

	li+li{
		margin-top: 13px; // não coloca margem no primeiro item da lista
	}
	.titulo{
		font-size: 20px;
	}
}

#implantar{
	h2{
		margin-bottom: 20px;
		text-align: center;
	}
	.resumo{
		color: @highlight;
		font-size: 24px;
		margin: auto;
		max-width: 650px;
	}
	.botao{
		margin: 30px auto;
		width: 340px;
	}
}

#menu-features{
	display: none;
}

// IMPORT RESPONSIVE - iPad Portrait
@media only screen and (max-width: 1024px) {
	@import "1024.less";
}

// IMPORT RESPONSIVE - iPad Landscape
@media only screen and (min-width: 768px) and (max-width: 990px) {
	@import "768.less";
}

// IMPORT RESPONSIVE 480px - smartphone
/*
@media only screen and (min-width: 480px) and (max-width: 767px) {
	@import "480.less";
}
*/

// IMPORT RESPONSIVE 320px - smartphone
@media only screen and (min-width: 320px) and (max-width: 767px) {
	@import "320.less";
}


/* STYLE PARA VISUALIZAR VERSÕES */
#versoes{
	background: url(../images/subtle_white_mini_waves.png) repeat;

	#menu{
		.redondo(0 @raio @raio 0);
		background: fade(@highlight, 70);
		border: 1px solid @borda;

		padding: 10px 15px 10px 5px;
		position: fixed;
		top: 30px;
		left: 0;

		li+li{
			margin-top: 7px;
		}
		li, a{
			color: @branco;
			cursor: pointer;

			&:hover{
				text-decoration: underline;
			}
			&.active{
				font-weight: bold;
			}
		}
	}
	.painel{
		display: none;
		margin: auto;
		padding: 20px 0;
		position: relative;
		
		h1{
			.redondo(5px 5px 0 0);
			.text-shadow(1px 1px 0 lighten(@cinza, 20));
			background: fade(@cinza-claro, 40);
			font-weight: bold;
			line-height: 1.5em;
			text-align: center;
		}
	}
	#v320{
		width: 375px;
		//height: 667px;
	}
	#v768{
		width: 788px;
		//height: 1024px;
	}
	#v1024{
		width: 1024px;
		//height: 768px;
	}
}

/* ESTILO COMPLEMENTAR PARA O DESAFIO 2 */
#ideb{
	padding: 35px 0;

	h1{
		color: @highlight;
		float: left;
		font-weight: bold;
		font-size: 22px;
	}
	.ferramentas{
		.redondo(4px);
		border: 1px solid @preto;
		float: right;

		li{
			float: left;
		}
		li+li{
			border-left: 1px solid @preto;
		}
		a{
			color: @preto;
			display: block;
			font-weight: bold;
			font-size: 12px;
			line-height: 26px;
			text-align: center;
			width: 104px;
		}
	}
}

#table-municipios{
	border: 1px solid @borda-tabela;
	margin-top: 35px;
	width: 100%;

	td{
		border-top: 1px solid @borda-celula;
		height: 100px;
	}
	td:first-child{
		text-align: left;
	}
	tr{
		border-left: 5px solid @borda-tabela;
	}
	th, td{
		.box-sizing(border-box);
		border-left: 1px solid @borda-tabela;
		padding: 0 18px;
		text-align: center;
		vertical-align: middle;
	}
	th{
		border-bottom: 1px solid @borda-tabela;
		font-weight: bold;
		font-size: 12px;
		height: 35px;
		min-width: 50px;
	}
	.tit-municipios{
		text-align: left;
		width: 400px;
	}
	.grafico{
		width: 85px;
	}
	.municipio{
		display: block;
		font-size: 16px;
		margin-bottom: 10px;
	}
	.escolas{
		display: block;
		font-size: 12px;
	}
}